*{
    margin: 0;
    padding: 0;
}

h1{
    padding-top: 5%;
    font-family: 'DynaPuff', cursive;
}

.fundo{
    background-image: url(../img/maxresdefault.jpg);
    height: 100vh;
    color: white;
    font-family: Arial, Arial, Helvetica, sans-serif;
    text-align: center;
}

.calculadora{
    position: absolute;
    background-color: rgb(22, 107, 177);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 3px;
    cursor: pointer;
    background-color: rgb(0, 33, 143);
    border: none;
    color: rgb(0, 0, 0);
    font-family: 'Solway', serif;
}

.botao:hover{
    background-color: rgb(196, 185, 185);
}

#resultado{
    background-color: white ;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}


